<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link href="app.component.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="header">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          Your Imagination - Your Garden!
        </div>
        <div class="col-auto">
          <button class="btn btn-light main-menu" (click)="navigateToMainMenu()">Main Menu</button>
          <button *ngIf="showLoginButton()" class="btn btn-light login" (click)="navigateToLogin()">Login</button>
          <button *ngIf="showLogoutButton()" class="btn btn-light logout" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>


<div class="padding_div"></div>
<div class="footer">
  <div class="container">
    University of Belgrade School of Electrical Engineering
  </div>
</div>

</body>
