<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./unregistered.component.css">
  <title>Unregistered Page</title>
</head>
<body class="dark-theme">
  <div class="container mt-5">
    <h2>Statistics</h2>

    <div class="stats">
      <p><strong>Number of Decorated Gardens:</strong> {{ numberOfDecoratedGardens }}</p>
      <p><strong>Number of Owners:</strong> {{ numberOfOwners }}</p>
      <p><strong>Number of Decorators:</strong> {{ numberOfDecorators }}</p>
      <p><strong>Scheduled Jobs in the Last 1 Day:</strong> {{ numberOfSchedualedJobs1 }}</p>
      <p><strong>Scheduled Jobs in the Last 7 Days:</strong> {{ numberOfSchedualedJobs7 }}</p>
      <p><strong>Scheduled Jobs in the Last 30 Days:</strong> {{ numberOfSchedualedJobs30 }}</p>
    </div>

    <h3>Search Firms</h3>
    <div class="search-fields mb-3">
      <!-- Input fields for search by name and address -->
      <input type="text" [(ngModel)]="searchName" placeholder="Search by firm name" class="form-control mb-2">
      <input type="text" [(ngModel)]="searchAddress" placeholder="Search by address" class="form-control mb-2">
      <button (click)="searchFirms()" class="btn btn-primary">Search</button>
      <button (click)="clearSearch()" class="btn btn-secondary ml-2">Clear</button>
    </div>

    <h3>List of Firms</h3>
    <div class="firm-list">
      <table class="table table-dark">
        <thead>
          <tr>
            <th (click)="sortBy('name')">
              Firm Name
              <span *ngIf="sortField === 'name'" class="sort-arrow">
                <span *ngIf="sortAscending">&#9650;</span> <!-- Upward arrow -->
                <span *ngIf="!sortAscending">&#9660;</span> <!-- Downward arrow -->
              </span>
            </th>
            <th (click)="sortBy('address')">
              Address
              <span *ngIf="sortField === 'address'" class="sort-arrow">
                <span *ngIf="sortAscending">&#9650;</span> <!-- Upward arrow -->
                <span *ngIf="!sortAscending">&#9660;</span> <!-- Downward arrow -->
              </span>
            </th>
            <th>Decorators</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let firm of filteredFirms">
            <td>{{ firm.name }}</td>
            <td>{{ firm.address }}</td>
            <td>
              <ul>
                <li *ngFor="let decorator of firm.decorator_list">
                  {{ decorator }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
