<div class="container">
  <h2 class="page-title">Decorator's Statistics</h2>

  <!-- Bar chart for Jobs Per Month -->
  <div class="chart-container">
    <h4>Jobs Per Month</h4>
    <canvas id="barChart"></canvas>
  </div>

  <!-- Pie chart for Job Distribution Among Decorators -->
  <div class="chart-container">
    <h4>Job Distribution Among Decorators</h4>
    <canvas id="pieChart"></canvas>
  </div>

  <!-- Bar chart for Job Distribution By Day -->
  <div class="chart-container">
    <h4>Average Monthly Jobs by Day of the Week</h4>
    <canvas id="histogramChart"></canvas>
  </div>
</div>
